
  <form ng-submit= "addExpense()">
    <fieldset>

      <div class="control-group">
        <label class="control-label">
          Description
        </label>
        <div class = "row">
        <div class="controls col-sm-6">
            <input type="text"
                   name="expense[description]"
                   data-ng-model ="expense.description"
                   class="text_area form-control"
                   required>
            <span ng-show="newExpense.description.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Comment
        </label>
        <div class = "row">
        <div class="controls col-sm-6">
            <input type="text"
                   name="expense[comment]"
                   ng-model="expense.comment"
                   class="text_area form-control"
                   required>
            <span ng-show="newExpense.comment.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Amount
        </label>
        <div class = "row">
        <div class="controls col-sm-6">
            <input type="text"
                   name="expense[amount]"
                   ng-model="expense.amount"
                   class="text_field form-control"
                   required>
            <span ng-show="newExpense.amount.$error.required"
                class="help-inline">
            Required
          </span>
        </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">
          Datetime
        </label>
        <div class='controls'>
          <div class="row">
            <div class= "col-sm-6">
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' 
                            name="expense[datetime]" 
                            ng-model="expense.datetime"
                            id = "expenseDatetime" 
                            class="form-control"
                            required/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <span ng-show="newExpense.datetime.$error.required"
                      class="help-inline">
                  Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <div class="form-actions">
        <input type="submit" value="Add" class="btn btn-primary">
       <button type="button" id="cancleAddExpense" class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>